@import "../styles/variables.scss";
.container {
  @include responsive-width;
  margin-top: 20px;
  margin-bottom: 40px;
  &.center {
    text-align: center;
  }
  display: grid;
  /* Use a two-column layout by default, with the sidebar on the left and the leader and main content stacked on the right. */
  grid-template-columns: $sidebarwidth auto;
  column-gap: $gutter;
  grid-template-areas: "sidebar leader" "sidebar main";
  /* On narrow screens, use a single-column layout with the sidebar inserted between the leader and the main content. */
  @media screen and (max-width: $breakpoint) {
    grid-template-columns: 1fr;
    grid-template-areas: "leader" "sidebar" "main";
  }
  /* Narrow pages, fullwidth and login pages don't have sidebars, so don't reserve space for them. */
  &.narrow,
  &.fullwidth,
  &.fullwidth1024 {
    grid-template-columns: 1fr;
    grid-template-areas: "leader" "sidebar" "main";
  }
}
